* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 100px 0;
}

.container {
    width: 1200px;
    max-width: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3000px;
    margin: 0 auto;
    background: #DEDEDE;
}

.content {
    width: 75%;
}

.sidebar {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar__inner {
    padding-top: 700px;
    background: #D0C2FF;
}

.sidebar__inner::after {
    content: "";
    display: block;
    height: 700px;
    background: #FFAC73;
}

.header,
.footer {
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    opacity: 0.5;
}

.header {
    top: 0;
    background-color: #B21016;
}

.footer {
    bottom: 0;
    background-color: #138535;
}

.ss-sidebar {
    --top-position: 70px;
    --bottom-position: 70px;
}
